img {
  width: 200px;
  height: 200px;
}
.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  display: inline-block;
}

.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .cart-text {
  font-family: Arial, sans-serif;
  /* margin: 0; */
  color: hsl(0, 0%, 30%);
}

.student {
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 0%, 0.502);
}

.student p {
  margin: 0;
}

.welcome-message {
  font-family: Arial, sans-serif;
  font-size: 2em;
  padding: 10px;
  background-color: hsl(120, 100%, 42%);
  color: white;
  border-radius: 10px;
  margin: 0;
}

.signup-prompt {
  font-family: Arial, sans-serif;
  font-size: 2em;
  padding: 10px;
  background-color: hsl(0, 100%, 42%);
  color: white;
  border-radius: 10px;
  margin: 0;
}

.list-category {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
  color: brown;
  margin-bottom: 10px;
  border: 2px dashed black;
  background-color: blanchedalmond;
  border-radius: 10px;
  padding: 10px;
}
.list-items li {
  font-size: 1.5em;
  list-style: none;
  text-align: center;
}

.list-items li:hover {
  color: greenyellow;
  transform: translateX(20px);
  transition: all 0.5s;
}

.no-items {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  /* background-image: url(./assets/bg.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  /* display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center; */
}

.clock-container{
  backdrop-filter: blur(5px);
  width: 100vw;
  padding: 10px 0;
}

.clock{
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color-display {
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 3px dashed black;
  border-radius: 30px;
  margin-bottom: 20px;
  transition: 0.25s ease;

  p {
    font-size: 1.5rem;
    text-align: center;
  }
}

label {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

h1 {
  margin-bottom: 30px;
  font-size: 3rem;
}

input[type="color"] {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.delete {
  background-color: red;
  border: none;
  border-radius: 10px;
  width: 50px;
  padding: 5px;
  color: #fff;
  cursor: pointer;
}

.car {
  list-style: none;
  padding: 10px;
  margin-bottom: 5px;
  font-family: sans-serif;
}

.todo-list {
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: start;
  border: 2px solid hsla(0, 0%, 100%, 0.539);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.333);
  border-radius: 10px;
}

button {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: sans-serif;
  padding: 10px 20px;
  margin: 0 3px;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  background-color: hsl(160, 63%, 32%);
}

button:hover {
  transform: translateY(-5px);
}

.add-button {
  background-color: hsl(125, 47%, 54%);
}

.add-button:hover {
  background-color: hsl(125, 47%, 34%);
}

.delete-button {
  background-color: hsl(10, 90%, 54%);
}

.delete-button:hover {
  background-color: hsl(10, 90%, 64%);
}

.move-button {
  background-color: hsl(219, 80%, 56%);
}

.move-button:hover {
  background-color: hsl(219, 80%, 36%);
}

input[type="text"] {
  font-size: 1.25rem;
  padding: 10px;
  margin: 20px 10px;
  border-radius: 10px;
  color: hsla(0, 3%, 6%, 0.671);
}

li {
  list-style: none;
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: hsla(0, 2%, 80%, 0.463);
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}


.box{
  margin: 20px;
  padding: 20px;
  border: 3px solid black;
}

h1{
  font-size: medium;
  font-family: monospace;
}